*{
    margin: 0;
    font-family: Ubuntu;
}

.header{
    text-align: center;
}

.banner{
 transition: 2s;
 width: 85%;
 margin-left: 7.5%;
 margin-right: 6%;
 border-radius: 15px;
}

.mainmenu>.menu-item{
    display: inline;
}


a.menuitem:link, a.menuitem:visited {
    transition: 2s;
    /*background-color: azure;*/
    color: blue;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px ;
}


a.menuitem:hover, a.menuitem:active {
    padding-left:30px ;
    padding-right:30px ;
    transition: 1s;
    background-color: orange;
    color: white;

}

a.scroller:link, a.scroller:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a.scroller:hover, a.scroller:active {
    background-color: red;
}

#menuwrapper{
    margin-top: 10px;
    width: 100%;
    background-color: azure;
}

.title{
 margin-top: 10px;
 margin-bottom: 10px;
 padding: 10px;
 font-size: 30px;
}

#title{
	width: 90%;
	margin-right: 7%;
	margin-left: 5%;
    transition: 2s;
    font-size: 60px;
	/*color: white;*/
	background-color: azure;
	padding: 15px;
	border-color: red;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
	margin-top: 50px;
}

@media (max-width: 800px) {
    #title{
        font-size: 15px;
    }

    .post{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .mainmenu{
        display: flex;
        flex-direction: column;
    }
    /*.post{*/
        /*font-size: 8px;*/
    /*}*/
}

.post{
	background-color: azure;
    transition: 5s;
    padding: 15px;
    border-color: orange;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.post:first-child{
    margin-top: 50px;
    border-color: blue;
}

.post:hover{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
/*	padding-right: 2%;
	padding-left: 2%;*/
	font-size: 18px;
}

.post:last-child{
    border-color: red;
}

#title:first-letter{
    color: red;
    font-size: 65px;
}

#title:hover{
    color: orange;
}

.banner:hover{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.footer{
	background-color: azure;
    transition: 2s;
    border-color: blue;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    color: #5a5a5a;
    font-size: 10px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
}

.footer:hover{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
	font-size: 15px;
}

.post-title{
    margin-top: 10px;
     margin-bottom: 10px;
}

a.leesmeer:link, a.leesmeer:visited {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
    background-color: white;
    color: black;
    border: 2px solid orange;
	border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a.leesmeer:hover, a.leesmeer:active {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
    background-color: orange;
    color: white;
}

body{
	background: url('background.png');
}
